.container {
    display:flex;
    flex-direction: column;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 80px;

}

.layout {
  display: flex;
  gap: 24px;
  align-items: stretch;
}

@media (max-width: 1024px) {
  .container {
    padding: 60px 40px;
  }

  .layout {
    gap: 16px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 40px 20px;
  }

  .layout {
    flex-direction: column;
  }
}