.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 80px 80px;
}

.header {
    color: #E8674A;
    font-size: clamp(18px, 3vw, 24px);
    font-weight: 700;
    margin-bottom: 4px;
}

.subheader {
    font-size: clamp(15px, 2.5vw, 20px);
    font-weight: 700;
    color: #1A1A1A;
    margin-bottom: 4px;
}

.list {
    display: flex;
    flex-direction: column;
}

.arrow {
    width: 80px;
    height: 80px;
}

@media (max-width: 1024px) {
  .arrow {
    width: 60px;
    height: 60px;
  }
  .container {
    padding: 60px 40px;
  }
}

@media (max-width: 768px) {
  .arrow {
    width: 40px;
    height: 40px;
  }
  .container {
    padding: 40px 20px;
  }
}