.container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.header {
    color: #E8674A;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 4px;
}

.subheader {
    font-size: 20px;
    font-weight: 700;
    color: #1A1A1A;
    margin-bottom: 4px;
}


.arrow {
    width: 80px;
    height: 80px;

}