.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 80px;
}

.list {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1024px) {
  .container {
    padding: 60px 40px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 40px 20px;
  }
}