.container {
    background: #FFFFFF;
    padding: 80px 80px;
}

.firstLine {
    display:flex;
    flex-direction: row;
    gap: 8px;
    color: #999999;
    font-size: 14px;
    align-items: center;
}

.title {
    display: flex;
    font-size: 20px;
    font-weight: 600;
}

.summary {
    color: #414141;
    font-weight: 400;
}