.container {
    background: #FFFFFF;
    padding: 80px 80px;
}

.containerHeader {
    padding-bottom: 14px;
}

.header {
    color: #E8674A;
    font-size: clamp(18px, 3vw, 24px);
    font-weight: 700;
    margin-bottom: 4px;
}

.subheader {
    font-size: clamp(15px, 2.5vw, 20px);
    font-weight: 700;
    color: #1A1A1A;
    margin-bottom: 40px;
}

.projectList {

}