.container {
    background: #FFFFFF;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 80px;
}

.containerHeader {
    padding-bottom: 14px;
}

.subHeader {
    margin-bottom: 40px;
}

.projectList {

}

@media (max-width: 1024px) {
  .container {
    padding: 60px 40px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 40px 20px;
  }
}